.board-square{
    width: 100px; // Ancho fijo para las casillas
    height: 100px; // Alto fijo para las casillas
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    color: #000;
    cursor: pointer;
    background-color: #f0d9b5; /* Color claro más suave */
    transition: background-color 0.3s ease;
    &.selected {
        background-color: #3498db; /* Azul para la casilla seleccionada */
    }
    &.possible-move {
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 20px;
            height: 20px;
            background-color: rgba(0, 0, 0, 0.2);
            border-radius: 50%;
        }
    }
}
/* Para alternar colores por filas */
.black {
    background-color: #d18b47; /* Marrón */
}
.selected {
    background-color: #4a90e2; /* Azul */
}

.possible-move {
    background-color: #90EE90 !important; // Verde claro
}

.board{
    width: 800px;
    height: 800px;
    display: flex;
    flex-direction: column;
    border: 2px solid #333;
}
.board-row{
    width: 100%;
    height: 100px;
    display: flex;
}

.chessboard-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 30px; // Espacio para las etiquetas de fila
    font-family: Arial, sans-serif;
}

.column-labels {
    display: flex;
    width: 800px; // Mismo ancho que el tablero
    margin-left: 30px; // Alinear con el tablero
    margin-bottom: 5px;
}

.board-with-row-labels {
    display: flex;
}

.row-labels {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 800px; // Mismo alto que el tablero
    margin-right: 5px;
}

.label {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #555;
}

.column-labels .label {
    width: 100px; // Mismo ancho que las casillas del tablero
    justify-content: center; // Centrar el contenido horizontalmente
    padding-left: 10px; // Ajusta este valor según sea necesario
}

.check-message {
    margin-top: 20px;
    padding: 10px;
    background-color: #ffcccc;
    border: 1px solid #ff0000;
    color: #ff0000;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
}